.info-box {
    width: 100%;
    background-color: #19191a;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #59f198;
    margin-top: 10%;
}
.info-body {
    padding: 5% 5%;
}
.top-bar {
    background-color: #19191a;
    height: 50px !important;
    display: flex;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #59f198;
}
.info-box span {
    color: #59f198;
    padding-right: 5%;
    padding-left: 2%;
}
.grey-circle {
    background-color: #232326;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 15px 5px;
}
p {
    color: grey;
    font-size: 10px;
}
